* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #0f0f0f, #111827);
}

#root {
  height: 100%;
}
